<div class="row">
    <h1>Educación</h1>
    <div class="col-lg-11">
        <ul>
            <li>
                <h1>Inglés</h1> - <h3>(curso)</h3>
            </li>
            <p>Nivel intermedio</p>
        </ul>
        <ul>
            <li>
                <h1>Diseño gráfico</h1> - <h3>(curso)</h3>
            </li>
            <p>Nivel básico</p>
        </ul>
        <ul>
            <li>
                <h1>Psicología</h1> - <h3>(U.N.T)</h3>
            </li>
            <p>Incompleta/Aún estoy cursando</p>
        </ul>
    </div>
</div>
